@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: 100vh;
}

/*----------scrollbar----------*/
body {
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
/*----------scrollbar----------*/

/*----------fixed mobile screen----------*/
body {
  overflow-x: hidden;
}
/*----------fixed mobile screen----------*/
